// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
// Define fonts for body and headers
// $body-font: "Work Sans", "Helvetica", "sans-serif";
// $headers-font: "Nunito", "Helvetica", "sans-serif";
$homepage-steps-font: 'Amatic SC', "cursive";
$homepage-steps-p-font: 'Josefin Sans', 'sans-serif';

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Sifonn Pro";
//   font-family: 'Sifonn Pro';
//   font-style: normal;
//   src: local('Sifonn Pro'), font-url('SIFONN_PRO.woff') format('woff');

// }
$body-font: 'Josefin Sans', 'sans-serif';
$headers-font: "Amatic SC", 'Josefin Sans', "sans-serif";
// $my-font-robot: 'Josefin Sans', 'sans-serif';
