html {
	scroll-behavior: smooth;
}

.main-content {
  margin-bottom: 100px;
}

ul {
  padding-left: 0;
  color: $light-purple-grey;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
}

body {
  background-color: $light-pink;
}


p {
  color: $light-purple-grey;
}
