html {
	scroll-behavior: smooth;
}

.main-content {
  margin-bottom: 100px;
}

ul {
  padding-left: 0;
  color: $light-purple-grey;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
}

body {
  background-color: $light-pink;
}


p {
  color: $light-purple-grey;
}
body {
  background-color: $light-pink;
  font-family: $my-font-robot;
}

p {
  font-family: $my-font-robot;
}
.main-content {
  margin-bottom: 100px;
}
a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
h2 {
  font-family: $my-font-robot;
}

h3 {
font-family: $my-font-robot;
}
.h3 {
font-family: $my-font-robot;
}
a {
text-decoration: none;
font-family: $headers-font;
}
