html {
	scroll-behavior: smooth;
}

ul {
  padding-left: 0;
  color: $light-purple-grey;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
}

body {
  background-color: $light-pink;
}


p {
  color: $light-purple-grey;
  font-family: $body-font;
}
body {
  background-color: $light-pink;
  font-family: $body-font;
}

.pop-up {
  color: black;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
h2 {
  font-family: $body-font;
}

h3 {
font-family: $body-font;
}
.h3 {
font-family: $body-font;
}
a {
text-decoration: none;
font-family: $headers-font;
}
h1 {
  font-size: 60px;
}

p {
  font-size: 20px;
  line-height: 1.4;
}
