// Specific CSS for your home-page

#how-it-works {
  margin-top: 300px;
  margin-bottom: 50px;
}

body {
  scroll-behavior: smooth;
}

#step-4 {
  margin-top: 140px;
}

.steps h3 {
  font-size: 25px;
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
}

.steps h4 {
  font-size: 20px;
  font-family: 'Amatic SC', cursive;
}

.steps p {
  font-size: 16px;
  font-family: 'Amatic SC', cursive;
}

.steps-placeholder {
  width: 50%;
}

.step-container{
position: relative;
margin-bottom: 20px;
margin-top: 60px;
}
.text-left {
 width: 50%;
}

h2 {
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
}
// .main {
//   position:relative
// }
/* Group 1 */

// position: absolute;
// left: 0%;
// right: 61.17%;
// top: 16.52%;
// bottom: 59.82%;



// /* Vector 2 */

// position: absolute;
// left: 38.83%;
// right: 26.12%;
// top: 18.23%;
// bottom: 59.72%;

// background: #87B143;
// transform: matrix(-1, -0.09, -0.09, 1, 0, 0);


// /* Vector 3 */

// position: absolute;
// left: 1.39%;
// right: 68.72%;
// top: 23.63%;
// bottom: 66.66%;

// background: #AFE459;
