<h1>MyGarden#show</h1>



<p>Welcome to you Garden <%= "#{current_user.first_name}" %></p>
<%# <%= @plant.description %>
<%# We don't have the description in the current seed file, so I will put a place holder here %>
