<div class="navbar navbar-expand-sm navbar-light navbar-plantyy">
  <div>
    <%= link_to root_path class: "navbar-icon" do %>
      <i class="fas fa-home"></i>
    <% end %>
  </div>

  <div>
    <%= link_to garden_kits_path class: "navbar-icon" do %>
      <i class="fas fa-search"></i>
    <% end %>
  </div>

  <div>
    <% if (current_user == nil) %>
      <%= link_to new_user_session_path, class: "navbar-icon" do %>
        <i class="fas fa-seedling"></i>
      <% end %>
    <% else %>
      <%= link_to my_garden_path(current_user.my_garden), class: "navbar-icon" do %>
        <i class="fas fa-seedling"></i> %>
      <% end %>
  </div>

</div>
