<h1>PLANTYY</h1>
<button><%=link_to "Get Started", garden_kits_path%></button>
<h2>How it works</h2>
<h3>Choose From Our Awsome Kits</h3>
<p>Create this awesome garden!
check out our unique kits!</p>
<img class="img-homepage" src="plant.jpg" alt="">
<h3>Create Your Garden</h3>
<p>infuse your home
with some beautyy
digital and in real life</p>
<img class="img-homepage" src="garden-open-gate-vector.jpg" alt="">
