<h1><%=@plant.name%></h1>
<%= image_tag @plant.plant_url, class: "img-homepage" %>

<p>This is a nice house plant, easy to grow!</p>
<%# <%= @plant.description %>
<%# We don't have the description in the current seed file, so I will put a place holder here %>
<ul>
<li><i class="fas fa-tint"></i></li>
<li><i class="fas fa-sun"></i></li>
<li><i class="fas fa-cat"></i></li>
</ul>
