.banner-homepage {
  background-size: cover;
  padding: 150px 0;
  width: 100%;
  height: 772px;
  background-image: url('homepage-banner.jpg');
  background-position: center;
  background-size: cover;

}

.banner-homepage h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
  font-family: $headers-font;

  text-shadow: 3px 3px 4px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bolder;
  font-family: $headers-font;
  letter-spacing: 5px;

}

.banner-homepage p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#banner-arrow {
  margin-top: 200px;
}


.banner-kit {
  background-size: cover;
  padding: 150px 0;
  width: 100%;
  height: 300px;
  background-image: url('homepage-banner.jpg');
  background-position: center;
  background-size: cover;

}

.dashboard{
  background-size: cover;
  padding: 150px 0;
  width: 100%;
  height: 300px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('default-garden.jpeg');
  background-position: center;
  background-size: cover;
  position:relative;
  text-align:center;
  h1 {
    font-weight:bolder;
    color:white;
  }
  p{
    font-size: 20px;
    font-weight: bolder;
    color:white;
  }
}


.banner-kit h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
  font-family: $headers-font;

  text-shadow: 3px 3px 4px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bolder;
  font-family: $headers-font;
  letter-spacing: 5px;

}

.banner-kit p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
