.card-kit {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  margin: 20px;
  display: block;
  font-family: $my-font-robot;
  border-radius: 5px;
}

.card-kit > img {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.card-kit h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: $my-font-robot;
}

.card-kit p {
  font-size: 12px;
  opacity: .8;
  margin: 0;
  font-family: $my-font-robot;
}


.card-kit .card-kit-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  font-family: $my-font-robot;
}

.card-plant {
  overflow: hidden;
  height: 120px;
  background: $card-green;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin: 10px;
  color: $light-purple-grey;
}

.link a:hover{
  text-decoration: none;
}

.card-plant img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-plant h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: $my-font-robot;
}

.card-plant p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  font-family: $my-font-robot;
}

.card-plant .card-plant-infos {
  padding: 16px;
}

.big-card-plant {
  width: 330px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-top: 50px;
  padding-bottom: 10px;
  margin: 20px auto;
  border-radius: 10px;
  text-align: center;
}

.big-card-plant h1 {
  color: $light-purple-grey;
  font-size: 32px;
  font-weight: bold;
}

#name-price-container{
 width: 217px;
 vertical-align: top;
 font-family: $my-font-robot;
}
// $baige-yellow
