.footer {
    background: $light-purple-grey;
    display: flex;
    display: column;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    height: 100px;
    padding: 5px 20px;
    color: $baige-yellow;
    opacity: 0.5;
}
.footer-links {
  display:table-column;
  align-items: left;
}
.footer-links a {
  color: $baige-yellow;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 5px;
}

.main-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#footer-font {
  padding: 0;
  font-family: 'Sifonn Pro';
  opacity: 0.5;
}
