.img-homepage{
  width: 200px;
  height: auto;
}

// .leaf-container-left{
//   position: relative;
//   min-width: 50%;
//   margin-top: 20px;
//   margin-bottom: 20px;
// }

// #leaf-container-right {

// }

.leaf-left{
  left: -50px;
  top: -30px;
  width: 200px;
  height: auto;
  position: absolute;

}


// .leaf-container-right{
//   position: relative;
//   min-width: 50%;
//   margin-top: 20px;
//   margin-bottom: 20px;
// }

// #leaf-container-right {

// }

.leaf-right{
  right: -50px;
  top: -30px;
  width: 200px;
  height: auto;
  position: absolute
}
