.img-homepage{
  width: 200px;
  height: auto;
}

#leaf-container-left{
  position: relative;
  min-width: 50%;
}

// #leaf-container-right {

// }

.leaf-left{
  position: absolute;
  left: -100px;
  width: 200px;
  height: auto;
}
