.img-homepage{
  width: 200px;
  height: auto;
}

.leaf-left{
  left: -50px;
  top: -30px;
  width: 200px;
  height: auto;
  position: absolute;

}

.leaf-right{
  right: -50px;
  top: -16px;
  width: 200px;
  height: auto;
  position: absolute;
}
