// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: $light-pink;
}

.main-content {
  margin-bottom: 100px;
}

p {
  color: $light-purple-grey;
}

ul {
  padding-left: 0;
  color: $light-purple-grey;
}
.container {
  padding-right: 30px;
  padding-left: 30px;
}
