<%= link_to garden_kit_path(garden_kit.id) do %>
<div class="card-kit">
  <img src="<%= garden_kit.kit_url %>" />
  <div class="card-kit-infos">
    <div>
      <div class="d-flex justify-content-between" id="name-price-container">
        <h2><%= garden_kit.kit_name %></h2>
        <%= "#{garden_kit.price} €"%>
      </div>
      <p>Short description here!</p>
      <p class="category">Categories: cat safe, sunny</p>
    </div>
  </div>
</div>
<% end %>
