<%= link_to garden_kit_path(garden_kit.id) do %>
<div class="card-kit">
  <img src="<%= garden_kit.kit_url %>" />
  <div class="card-kit-infos">
    <div>
      <h2><%= garden_kit.kit_name %></h2>
      <p> <%= garden_kit.description%> </p>
      <p class="category">Categories: cat safe, sunny</p>
    </div>
  </div>
</div>
<% end %>
