<div data-search-garden-kits-target="list">
  <p class="d-flex justify-content-center flex-wrap">
    <% if params[:query].blank? %>
      <%= pluralize garden_kits.count, 'garden kit' %> available
    <% else %>
      <%= pluralize garden_kits.count, 'result' %> for <code><%= params[:query] %></code>
    <% end %>
  </p>
  <div class="d-flex justify-content-center flex-wrap">
    <% garden_kits.each do |garden_kit| %>
      <%= render 'card-kit-infos.html', garden_kit: garden_kit %>
    <% end %>
  </div>
</div>
